
.greetings {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  color: #FE41DD;
  
}
.title{
  font-family: serif;
  font-size: 44px;
  margin: 15px;
  color:#05e705;
}
.proj-header{
  font-family: monospace;
  font-size: 28px;
  margin: 5px;
  color:#05e705;
}
.proj-body{
  font-family: sans;
  font-size: 12px;
  margin: 5px;
}
